/* Body */
body {
    color: #333;
}

img {
    border: 1px solid #39f;
}

#wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #999;
}

dt {
	float: left;
	clear: both;
	width: 30%;
	border-top: dotted 1px #e2e2e2;
	padding:10px 0px;
}

dd {
	margin-left: 30%;
	border-top: dotted 1px #e2e2e2;
	padding: 10px 0px;
}
input[type="radio"] {
	margin: 0 5px;
}
input[type="text"], input[type="email"] {
	padding: 5px 5px;
	border:solid 1px #ccc;
	border-radius: 3px;
	box-shadow: 0 0 5px #CCC inset;
	color: #000;
	font-family: inherit;
}
input[type="text"].focus, input[type="email"].focus {
     outline: none;
     box-shadow: 0 0 7px #1abc9c;
     border: 1px solid #1abc9c;
	color: #000;
}